* {
  max-width: 100vw;
}

.clip-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0px;
  z-index: -99;
  background-image: linear-gradient(#fbec1d, #f4c81e);
  -webkit-clip-path: polygon(100% 0, 68% 100%, 100% 100%);
  clip-path: polygon(100% 0, 68% 100%, 100% 100%);
}

body {
  margin: auto;
  padding: 0;
  font-family: Geomanist, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.butler,
h2,
h1,
h3 {
  font-family: "Butler Medium", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.btn {
  text-transform: uppercase;
  font-weight: 500;
}

@media only screen and (max-width: 772px) {
  .d-flex {
    flex-wrap: wrap;
  }
}
