$height-footer: 30px;

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    .footer-block {
      position: absolute;
      bottom: 0px;
    }
  }

  .logo-image {
    filter: brightness(1.5);
  }

  .content {
    position: relative;
    margin: auto;
    overflow: hidden;

    .content-overlay {
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      :hover {
        opacity: 1;
      }
    }

    .content-details {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.1s ease-in-out 0s;
      -moz-transition: all 0.1s ease-in-out 0s;
      transition: all 0.1s ease-in-out 0s;
    }
    :hover .content-details {
      top: 50%;
      left: 50%;
      opacity: 1;
    }
    .fadeIn-left {
      left: 20%;
    }
  }
}

@media only screen and (max-width: 578px) {
  .content-image,
  .logo-image {
    display: none;
  }
  h2 {
    visibility: hidden;
  }
  .footer-block {
    position: absolute;
    bottom: -20px;
  }
}
